#contentarea{
    background-color: white;
    padding-bottom: 40px;
}

.produk{
    margin-left: 15px;
    margin-right: 15px;
}

.divgambarproduk{
    border-bottom: 1px solid rgb(204,204,204);
}

.gambarproduk{
  height : 165px;
  margin-top : 15px;
  margin-bottom: 1px;
  margin-left: 25px;
  margin-right: 25px;
}

.textnamaproduk{
    font-weight: bold;
    margin-bottom: 0px;
}

.texthargaproduk{
    margin-top: 0px;
    color:rgb(242,101,78);
}





