#contentarea{
    background-color: white;
    width : 930px;
    padding: 10px;
    padding-bottom : 50px;
}
#contentarea h1 {
	color: rgb(3,77,164);
}

#buttonbandingkan{
    margin-left: 30px;
}

.dropdown{
    margin-left: 20px;
    margin-bottom: 30px;    
}

.isiproduk{
    margin-left: 20px;
    margin-bottom: 20px;
    height : 610px;
    border : 1px solid black;
}

.foto{
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 25px;
    border : 1px solid rgb(204,204,204);
}

label{
    font-weight: bold;
}