.merek {
    background-color: rgb(3,77,164);
    border-radius:5px;
    display: block;
    height: 30px;
    margin-top: 10px;
    overflow: auto;
    padding-top: 10px;
}

.list_merek{
    background-color: rgb(90,147,213);
    border-radius:5px;
    height: 30px;
    margin-top: 5px;
    padding-top: 10px;
}

.list_merek a, .merek a{
    display: block;
}

#produk {
    float: right;
    height : 650px;
    margin : 0px 0px 0px 15px;
    overflow-y :scroll;
    overflow-x : hidden;
    padding: 0px 0px 0px 0px;
}

#produk_item {
    width: 200px;
    height: 370px;
    margin: 0px;
    padding: 10px 5px 5px;
    float:left;
}

.produk_keterangan{
    padding : 0 5px;
}

h3 {
    margin:1px;
    color: rgb(3,77,164);
    margin-top: 4px;
}

span#harga{
    font-family : arial;
    font-size: 10pt;
    font-weight: bold;
    color : rgb(224,0,0);
    margin-top: 2px;
}

span.availability{
    color: #FFF;
    background-color: #488c40;
    padding: 2px;
    float: right;
    margin: 0 2px;
    font-size: 8pt;
    margin-top: 2px;
}

.produk_image {
    background-color: white;
    border : 1px solid rgb(204,204,204);
}

.ratting {
    margin-top: 4px;
}

.produk_menu {
    padding: 4px 6px 4px 6px;
    text-transform: capitalize;
    color: #FFF;
    border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    font-size : 8.5pt;
    margin-top: 4px;
}

.detail {
    background-color: #378203;
}
.beli{
    background-color:#001e5e;
}

.detail:hover{
    background-color: rgb(100,180,6);
}

.beli:hover{
    background-color: rgb(0,60,188);
}

.command{
    width:150px;
    height:45px;
}