#detail_produk_image{
    display : block;
    float : right;
}

.detail_produk_image{
    width : 300px;
    height : 300px;
    float: right;
}

#page_address a{
    text-decoration: none;
    color: black;
}

#page_address a:hover{
    text-decoration: underline;
}
