#contentarea{
    background-color: white;
}

#map-canvas { 
      	height: 500px;
      	margin: auto;
      	border: solid 1px rgb(111,111,111);
}

.grid_22 {
	margin-top: 20px;	
	margin-bottom: 20px;
}

#kontak .judul{
	color: rgb(3,77,164);
	font-size: 22pt;
	font-weight: bold;
}

#kontak .sub{
	color: rgb(111,111,111);
	font-size: 12pt;
	font-weight: bold;
}

#kontak .isi{
	color: rgb(111,111,111);
	font-size: 11pt;
}