#iklanutama{
    height : 383px;
    margin-top: 2px;
    margin-bottom: 1px;
}

#textproduk{
    font-weight : bold;
    font-size: 16px;
}

.produkunggulan{
  height : 165px;
  margin-top : 15px;
  margin-bottom: 1px;
  margin-left: 50px;
  margin-right: 25px;
}

.textprodukunggulan{
  text-align : center;
}
