body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

#logo{
  height : 70px;
  background-image : url("image/readmelogo.png");
  margin-top : 13px;
  margin-right : 325px;
}

#login{
  height : 70px;
  margin-top: 13px;
  padding-bottom: 0px;
  margin-bottom:5px;
}

#formlogin{
  margin-top : 42px;
  padding-left : 9px;
}

#navi, #footer{
  border : 1px solid black;
  height : 35px;
  border-radius : 5px;
  background-color : rgb(3,77,164);
}

.menu{
  text-align: center;
  height: 25px;
  margin : 0px;
  padding-top : 6px;
}
a{
  color : rgb(200,200,200);
  text-decoration : none;
}

a:hover{
  color : white;
  text-decoration : underline;
}

#pojok{
  margin-right : 232px;
}

#search{
  margin-top: 4px;
}

#textsearch{
  width : 170px;
  height: 20px;
  padding :5px,4px,5px,4px;
}

#buttonsearch{
  height: 20px;
  border-radius: 4px;
}

#footertext{
  color : rgb(200,200,200);
  padding-top : 10px;
  padding-left : 10px;
  padding-bottom : 0px;
  margin : 0px;
  text-align: center;
}

